/* Reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the root and body to full height */
html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f0f0f0;
}

#root {
  min-height: 100%;
  display: flex;
}

.App {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background-color: #f0f0f0;
}

.input-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
  overflow-y: auto;
  align-items: center;
}

.preview-section {
  flex: 1;
  overflow-y: auto;
}

.section, .collapsible-section {
  margin-bottom: 15px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  width: 90%;
}

.section {
  min-height: 200px;
}


.collapsible-section h3 {
  cursor: pointer;
  user-select: none;
  padding: 15px;
  margin: 0;
  background-color: white;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsible-section h3 span:last-child {
  font-size: 12px;
}

.section-content {
  padding: 0 15px 15px 15px;
  border: none;
}

.section .section-content {
  display: block;
  padding: 15px;
}

.paper {
  width: 90%;
}

h3 {
  padding: 15px;
}